/**war.window**/
div.window-war {
    max-width: 90%;
    height: 160px;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 250);
    border-radius: 7px;
    padding-top: 1%;
    padding-left: 1%;
}

div.window-war a {
    font-size: 17px;
    color: black;
    display: block;
}

div.window-war a:hover {
    text-decoration: underline;
}

div.window-war ul {
    padding-left: 30px;
    padding-top: 10px;
    position: absolute;
    width: 35%;
    display: inline-block;
}

div.window-war ul li {
    color: red;
}

div.window-war ul li a {
    color: #1b69bf;
    font-size: 12px;
}

div.window-war ul li a:hover {
    text-decoration: underline;
}

div.window-war-time-news {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    position: relative;
    width: 30%;
    height: 120px;
    float: right;
    z-index: 200;
    margin-top: -20px;
    margin-right: 10px;

}

div.window-war-time-news a {
    padding-left: 2%;
    margin-bottom: 2%;
    font-size: 12px;
}

div.window-war-time-news a.online-title {
    color: red;
    float: right;
    margin-right: 2%;
}

div.window-war-time-news span {
    color: #1b69bf;
    margin-right: 1.5%;
}

div.window-war img {
    display: inline;
    margin-top: -30px;
    margin-left: 42%;
    width: 22%;
}

/*right_side*/
div.right-side {
    width: 29%;
    height: 600px;
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}

/**right-now-window**/
div.right-now {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}

div.right-now input {
}

div.right-now p {
    display: inline-block;
    font-size: 12px;
}

div.right-now-news {
    margin-left: 4%;
    margin-top: 4%;
    margin-right: 2%;
}

div.right-now-news a {
    display: block;
    color: black;
    font-size: 15px;
}

div.right-now-news a:hover {
    text-decoration: underline;
}

/**timer-president-election****/
div.timer_president-election {
    margin: 10% 5% 10% 5%;
    width: 90%;
    height: 150px;
    background-color: rgba(137, 196, 244, 0.5);
    border-radius: 5px;
}

div.timer_president-election  h4 {
    display: inline-block;
    margin-top: 1%;
    margin-left: 2%;
}
div#countdown{
    padding-left: 10%;
}
div#countdown ul li {
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    padding: 2%;
    text-transform: uppercase;
}

div#countdown ul li span {
    display: block;
    font-size: 1.5rem;
}
div#content{
    margin-top: 10%;
    padding-left: 25%;
}


/***main-news**/
div.main-news {
    width: 60%;
    height: 350px;
    margin-top: 3%;
    background-color: #1b69bf;
    border: 1px #1b69bf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.main-news img {
    width: 70%;
    height: 100%;
    float: right;
    border-top-right-radius: 5px;
}

div.main-title {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
}

div.main-title a {
    color: white;
}

div.main-title a:hover {
    text-decoration: underline;

}

div.main-news p {
    margin-top: 10%;
    color: white;
    font-size: 12px;
}

div.another-news {
    width: 60%;
    height: 100px;
    background-color: #1b69bf;
}

div.another-news ul {
    margin-left: 10px;
}

div.another-news ul li {
    color: white;
    width: 30%;
    text-align: left;
    float: left;
    margin-left: 15px;
    transform: translate(0%, -60%);
}

div.another-news ul li:nth-child(2) {
    transform: translate(0%, -45%);
}

div.another-news ul li:nth-child(2) a {
    transform: translate(0%, 66%);
}

/*TODO znovupouzitelne*/
div.another-news ul li a {
    color: white;
    font-size: 12px;
    transform: translate(0%, 77%);
}

div.another-news ul li a:hover {
    text-decoration: underline;
}

/***news-with-3-photo****/
div.news-with-3-photo {
    margin-top: 10px;
    width: 60%;
}

div.news-with-3-photo img {
    width: 32.65%;
}

div.news-with-3-photo ul {
    margin-left: 10px;
}

div.news-with-3-photo ul li {
    list-style-type: none;
    width: 30%;
    float: left;
    margin-left: 25px;
}

div.news-with-3-photo ul li:first-child {
    margin-left: -10px;
}

div.news-with-3-photo ul li a {
    color: black;
    font-size: 12px;
}

div.news-with-3-photo ul.blue-titles li a {
    color: #1b69bf;
}

div.news-with-3-photo ul li a:hover {
    text-decoration: underline;
}